{{- $src := .src -}}
{{- $alt := .alt | default "" -}}
{{- $loading := .loading | default "lazy" -}}
{{- $decoding := .decoding | default "async" -}}
{{- $fetchpriority := .fetchpriority | default "" -}}
{{- $width := .width | default "" -}}
{{- $height := .height | default "" -}}
{{- $class := .class | default "" -}}
<img src="{{ $src }}" alt="{{ $alt }}"{{ with $class }} class="{{ . }}"{{ end }} loading="{{ $loading }}" decoding="{{ $decoding }}"{{ with $fetchpriority }} fetchpriority="{{ . }}"{{ end }}{{ with $width }} width="{{ . }}"{{ end }}{{ with $height }} height="{{ . }}"{{ end }}>
